.player2-img {
    transform: scaleY(-1);
    height: 100px;
    width: auto;
}
.player-img {
    height: 100px;
    width: auto;
}
/*-----------------------------------------------*/
.player-btn {
    width: 150px;
    background-color: transparent;
    border-color: transparent;
}

.player-btn:hover {
    transform: scale((0.95));
}

.player-btn:active {
    transform: scale(0.90);
}

.player-btn.selected {
    background-color: #b3e5db;
}

/*----------------------------------------------------------------*/

.not-current-player {
    transform: scaleY(-1);
}