{% extends 'base.html' %}
{% block content %}


<section style="height: 100px;"></section>

<div class="row">
    <div class="d-flex align-items-center justify-content-center">
        <button id="opponent-left-btn" class="col-md-5"><img class="opponent-img" src="{{ url_for('static', filename='img/left_1.png')}}"></button>
        <section class="col-md-1"></section>
        <button id="opponent-right-btn" class="col-md-6"><img class="opponent-img" src="{{ url_for('static', filename='img/right_1.png')}}"></button>
    </div>
</div>
<section style="height:300px;"></section>
<div class="row">
    <div class="d-flex align-items-center justify-content-center">
        <button id="player-left-btn" class="col-md-5"><img class="player-img" src="{{ url_for('static', filename='img/left_1.png')}}"></button>
        <section class="col-md-1"></section>
        <button id="player-right-btn" class="col-md-6"><img class="player-img" src="{{ url_for('static', filename='img/right_1.png')}}"></button>
    </div>
</div>

<script>
    document.getElementById("player-left-btn").addEventListener("click", () => {
        document.getElementById("player-left-btn").style.backgroundColor = '#f0e9d0'
    })
</script>

{% endblock %}